@charset "UTF-8";

$mobile-max-width: 428px;


* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, '游ゴシック体', YuGothic, 'Yu Gothic Medium', 'Noto Sans JP', sans-serif;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: 0.03em;
}

body {
  width: 100%;
  background-color: #0A1E28;
  overflow-y: scroll;
  color: #333;
  font-size: 16px;
  font-weight: normal;

  a {
    text-decoration: none;
    color: #9df;
  }

  hr {
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin-top: 2px;
    margin-bottom: 16px;
  }

  .hide {
    display: none !important;
  }

  #map {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;

    path {
      stroke: #0A1E28;
      stroke-width: 0.2px;
      vector-effect: non-scaling-stroke;
    }
  }

  #title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    background: linear-gradient(0deg,
      rgba(10, 30, 40, 0)    0%,
      rgba(10, 30, 40, 1)  100%);

    h1 {
      margin: 16px;
      width: fit-content;

      span {
        font-weight: bold;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.9);
        text-shadow: rgba(0, 0, 0, 0.4) 1px 0 4px;
        display: inline-block;
        line-height: 32px;
      }

      .sn-color-hr {
        background: linear-gradient(90deg, #ff645b, #ff645b 25%, #ffc73d 0, #ffc73d 50%, #54e470 0, #54e470 75%, #0fbbe7 0, #0fbbe7);
        width: 100%;
        height: 1px;
      }
    }
  }

  #intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: rgba(10, 30, 40, 0.9);
    overflow-y: scroll;

    opacity: 0;
    pointer-events: none;
    transform: scale(2);
    transition: all ease 300ms;

    &.show {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1);
      transition: all ease 0;
    }

    #intro-inner {
      width: calc(100% - 32px);
      max-width: 480px;
      margin: 16px auto;
      margin-bottom: 32px;
      padding-bottom: 64px;

      .sn-color-hr-1 {
        background: linear-gradient(90deg, #ff645b, #ff645b 25%, #ffc73d 0, #ffc73d 50%, #54e470 0, #54e470 75%, #0fbbe7 0, #0fbbe7);
        width: 100%;
        height: 2px;
      }

      .sn-color-hr-2 {
        background: linear-gradient(90deg, #ff645b, #ff645b 25%, #ffc73d 0, #ffc73d 50%, #54e470 0, #54e470 75%, #0fbbe7 0, #0fbbe7);
        width: 100%;
        height: 1px;
      }

      #intro-button-show {
        width: 200px;
        height: 40px;
        background-color: #e63;
        color: #fefefe;
        border: none;
        border-radius: 20px;
        display: block;
        margin: 64px auto;

        &:hover {
          cursor: pointer;
        }
      }

      h2 {
        span {
          font-weight: bold;
          font-size: 20px;
          color: #fcfcfc;
          text-shadow: rgba(0, 0, 0, 0.4) 1px 0 4px;
          display: inline-block;
          line-height: 36px;

          @media screen and (min-width: 360px){
            font-size: 24px;
            line-height: 40px;
          }

          @media screen and (min-width: 750px){
            font-size: 30px;
            line-height: 48px;
          }
        }
      }

      h4 {
        margin-top: 32px;
        margin-bottom: 2px;
        font-size: 16px;
        font-weight: bold;
        color: #fcfcfc;
      }

      p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 15px;
        line-height: 30px;
        margin-top: 16px;

        a {
          color: #9df;
        }

        &.center {
          text-align: center;
        }

        small {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.5);
        }
      }

      .legend-table {
        border-collapse: collapse;
        margin: 0 auto;
        margin-bottom: 16px;

        tbody {
          td {
            padding: 0 4px;
            text-align: right;
            color: rgba(255, 255, 255, 0.7);
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);

            &:nth-child(2) {
              font-size: 12px;
              color: rgba(255, 255, 255, 0.4);
            }

            .circle {
              width: 16px;
              height: 16px;
              border-radius: 8px;
              display: block;
            }

            span {
              margin-left: 4px;
              font-size: 12px;
              color: #bbb;
            }
          }
        }
      }
    }
  }

  #info {
    #info-cover {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 600;
      background-color: rgba(0, 0, 0, 0);
      pointer-events: none;
      transition: all ease 250ms;
    }

    #info-content {
      position: fixed;
      top: 0;
      right: calc(#{$mobile-max-width} * -1);
      height: 100vh;
      width: calc(100% - 32px);
      max-width: $mobile-max-width;
      background-color: rgba(0,0,0,.8);
      z-index: 200;
      color: #fefefe;
      padding: 16px;
      padding-top: 64px;
      transition: all ease 250ms;

      #info-button-close {
        $size: 44px;
        position: absolute;
        top: 16px;
        right: 16px;
        width: $size;
        height: $size;
        border: none;
        border-radius: calc(#{$size} * 0.5);
        background-color: transparent;
        background-image: url('../img/material-icon-close.svg');
        background-position: center center;
        background-size: 80%;
        background-repeat: no-repeat;

        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }

      h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      .sn-color-hr {
        background: linear-gradient(90deg, #ff645b, #ff645b 25%, #ffc73d 0, #ffc73d 50%, #54e470 0, #54e470 75%, #0fbbe7 0, #0fbbe7);
        width: 100%;
        height: 1px;
        margin-bottom: 16px;
      }

      table {
        font-size: 16px;

        th {
          text-align: left;
          color: rgba(255, 255, 255, 0.8);
        }

        td {
          text-align: right;

          &:nth-child(3) {
            padding-left: 4px;
            padding-top: 4px;
            font-size: 13px;
            color: #aaa;
            text-align: left;
          }
        }
      }

      #info-chart {
        margin-top: 16px;
      }

      #info-notes {
        margin-top: 8px;

        li {
          margin-left: 16px;
          font-size: 13px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }

    &.show {
      #info-cover {
        background-color: transparent;
        pointer-events: none;
      }

      #info-content {
        right: 0px !important;
      }
    }
  }

  #buttons {
    position: fixed;
    z-index: 10;
    right: 16px;
    bottom: 80px;

    @media screen and (min-width: 520px) {
      bottom: 0px;
    }

    button,a {
      display: block;
      margin-bottom: 16px;
      width: 44px;
      height: 44px;
      border: none;
      border-radius: 22px;
      background-color: #fefefe;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid #fefefe;
      box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);

      &:hover {
        cursor: pointer;
      }

      &.social-button {
        &.facebook {
          background-image: url('../img/social-icon-facebook.svg');
        }

        &.twitter {
          background-image: url('../img/social-icon-twitter.svg');
        }
      }
    }

    #intro-button {
      background-image: url(../img/material-icon-error-outline.svg);
      background-size: 110%;
      transform: rotate(180deg);
    }
  }

  #switch {
    $max-switch-width: 360px;
    $switch-margin: 16px;

    position: fixed;
    width: calc(100vw - (#{$switch-margin} * 2));
    max-width: $max-switch-width;
    bottom: $switch-margin;
    left: $switch-margin;
    background-color: #242a3c;
    display: flex;
    border: none;
    height: 42px;
    border-radius: 21px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

    @media screen and (min-width: ($max-switch-width + ($switch-margin * 2) + 1)){
      left: calc(50vw - (#{$max-switch-width} / 2));
    }

    .switch-item {
      margin: 1px;
      color: #aaa;
      width: 50%;
      height: 40px;
      border-radius: 20px;
      font-size: 16px;
      text-align: center;
      line-height: 40px;

      &:hover {
        cursor: pointer;
        background-color: #474f62;
      }

      &.selected {
        background-color: #d72;
        color: #fefefe;
      }
    }
  }
}
